<!DOCTYPE html>
<html>
	<head>
		<%- include ("../partials/header.ejs") %>
	</head>

	<body>
		<%- include ("../partials/nav.ejs") %>

		<div class="container">
			<h2>Postgres Results</h2>
			<h3>Challenges</h3>
			<ul>
				<% results.forEach(function(r) { %>
				<li><%= r.topic_id %> - <%= r.challange_name %></li>
				<% }); %>
			</ul>
		</div>
	</body>
</html>
